
:root {
    --default-text-color: rgb(80, 196, 27);
}

.primary {
    color: rgb(30, 27, 196) !important;
}


/* Navbar */

.bg-dark {
    background-color: #343a40 !important;
}

/* custom nav-link */
.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    color: #b7bcbd !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-link .active {
    color: #e8e8e8 !important;
}
.navbar .nav-item.active {
    border-left: #444 3px solid !important;
}
.nav-link:hover {
    cursor: pointer;
    color: #fff !important;
}



