
/*=============================================
=            Section comment block            =
=============================================*/

/*=====  End of Section comment block  ======*/




/*=============================================
=            root comment block            =
=============================================*/


:root {
    --default-text-color: rgb(80, 196, 27);
}

/* .primary {
    color: rgb(30, 27, 196) !important;
} */

html {
    font-family: "KoHo", "Kanit", "Pattaya", "Source Code Pro", sans-serif;
}
#body {
    margin-top: 60px;
}

/*=====  End of Section comment block  ======*/


/*=============================================
=            font comment block            =
=============================================*/
.navbar-brand {
    font-family: Source Code Pro;
    font-size: 24px;
}
#mainNav a {
    font-family: Kanit;
    font-size: 18px;
    letter-spacing: 2px;
}
.carousel-item h1 {
    font-family: Pattaya;
}
/* .carousel-item P {
    FONT-FAMILY: KoHo;
} */
p {
    font-family: KoHo;
    font-weight: 1000;
    font-size: 19px;
}
h3 {
    font-family: Source Code Pro;
}
h2 {
    font-family: Source Code Pro;
    font-size: 46px;
    font-weight: 600;
}
/*=====  End of font comment block  ======*/

/*=============================================
=            button comment block            =
=============================================*/

/* button primary (blue to gold ) */
.btn-outline-primary {
    color: rgba(255, 255, 0, 0.719) !important;
    background-color: transparent !important;
    border: 2px solid rgba(255, 255, 0, 0.719) !important;
}
.btn-outline-primary:hover {
    transition: 0.5s;
    color: #000 !important;
    background-color: rgba(255, 255, 0, 0.719) !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button warning (yellow to green ) */
.btn-outline-warning {
    color: rgba(115, 255, 0, 0.555) !important;
    background-color: transparent !important;
    border: 2px solid rgba(115, 255, 0, 0.555) !important;
}
.btn-outline-warning:hover {
    transition: 0.5s;
    color: #fff !important;
    background-color: rgba(115, 255, 0, 0.555) !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button secondary (red to pink ) */
.btn-outline-secondary {
    color: #393e46 !important;
    background-color: transparent !important;
    border: 2px solid #393e46 !important;
}
.btn-outline-secondary:hover {
    transition: 0.5s;
    color: #fff !important;
    background-color: #393e46 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button danger (red to pink ) */
.btn-outline-info {
    color: #fe7d6a !important;
    background-color: transparent !important;
    border: 2px solid #fe7d6a !important;
}
.btn-outline-info:hover {
    transition: 0.5s;
    color: #fff !important;
    background-color: #fe7d6a !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/*=====  End of button comment block  ======*/


/*=============================================
=            navbar comment block            =
=============================================*/

/* Navbar */

.bg-dark {
    background-color: #343a40  !important;
}

/* custom nav-link */
.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    color: #b7bcbd !important;
    /* padding-left: 1rem !important;
    padding-right: 1rem !important; */
}

/* navbar item active */
.navbar .nav-item.active {
    transition: 0.7s;
    border-left: #888 3px solid !important;
    margin-left: 1.5rem !important;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
/* navbar a active text color */
.navbar-nav > .active > a {
    color: #e8e8e8 !important; 
}

/* .navbar .nav-link.active {
    color: #e8e8e8 !important;
} */
/* navbar lik hover */
.nav-link:hover {
    cursor: pointer;
    color: #fff !important;
}


/*=====  End of navbar comment block  ======*/


/*=============================================
=            carousel comment block            =
=============================================*/


/* carousel */
.carousel-item {
    height: 500px;
}
/* .carousel-image-1 {
    background: url(../img/image1.jpg);
    background-size: cover;
}
.carousel-image-2 {
    background: url(../img/image2.jpg);
    background-size: cover;
}
.carousel-image-3 {
    background: url(../img/image3.jpg);
    background-size: cover;
} */

/* .carousel-inner img {
    height: 450px;
    background-size: cover;
} */


/* carousel buttons */


/* .carousel-item {
    height: 500px;
} */
/* .carousel-item {
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
} */

/*=====  End of carousel comment block  ======*/


/*=============================================
=            home icon section block            =
=============================================*/

#home-icon-section span {
    color: rgba(4, 138, 15, 0.336);
}

/*=====  End of home icon section block  ======*/



/*=============================================
=            Section comment block            =
=============================================*/

#home-heading-section {
    position: relative;
    height: 250px;
    background: url(../img/lights.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            home video Section block            =
=============================================*/

#home-video-section {
    position: relative;
    height: 250px;
    background: url(../img/media.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    background-position: 0 -300px;
}

#home-video-section a {
    color: #fff;
}

/* #home-video-section .row {
    margin-right: 0 !important;
} */

/*=====  End of Section comment block  ======*/




/*=============================================
=            main-footer Section comment block            =
=============================================*/

#main-footer {
    font-family: Source Code Pro;
    background:#000;
    color:#fff;
}


/*=====  End of Section comment block  ======*/






/*=============================================
=            about page header Section comment block            =
=============================================*/

#about-page-header {
    height: 200px;
    background: url(../img/image1.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            about page about Section comment block            =
=============================================*/

#about-img {
    /* to move up use -0px */
    margin-top: -90px;
    border: 2px solid #fff;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            about page icon Section comment block            =
=============================================*/

.bg-danger {
    background-color: rgba(241, 106, 106, 0.959) !important;
}
/* .bg-dark {
    background-color: rgb(63, 61, 61) !important;
} */


/*=====  End of Section comment block  ======*/


/*=============================================
=            service page header Section comment block            =
=============================================*/

#service-page-header {
    height: 200px;
    background: url(../img/image2.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            service page faq Section comment block            =
=============================================*/

#service-page-faq-section .card {
    border-color: #444;
    background: #333;
}

#service-page-faq-section a {
    text-decoration: none;
    color: #fff
}




/*=====  End of Section comment block  ======*/


/*=============================================
=            blog page header Section comment block            =
=============================================*/

#blog-page-header {
    height: 200px;
    background: url(../img/image3.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
}



/*=====  End of Section comment block  ======*/


/*=============================================
=            Section comment block            =
=============================================*/

#contact-page-header {
    height: 200px;
    background: url(../img/image4.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    border-bottom: 1px solid #eee;
}


/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/




/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/




/*=====  End of Section comment block  ======*/