
/*=============================================
=            Section comment block            =
=============================================*/

/*=====  End of Section comment block  ======*/




/*=============================================
=            root comment block            =
=============================================*/


:root {
    --default-text-color: rgb(80, 196, 27);
}

/* .primary {
    color: rgb(30, 27, 196) !important;
} */

html {
    font-family: "KoHo", "Kanit", "Pattaya", "Source Code Pro", sans-serif;
}
body {
    overflow-x: hidden;
    min-height:100vh;
}
#body {
    margin-top: 60px;
}

/*=====  End of Section comment block  ======*/


/*=============================================
=            font comment block            =
=============================================*/
.navbar-brand {
    font-family: Source Code Pro;
    font-size: 24px;
}
#mainNav a {
    font-family: Kanit;
    font-size: 18px;
    letter-spacing: 2px;
}
.display-1 {
    font-family: Pattaya; !important;
}
/* .carousel-item P {
    FONT-FAMILY: KoHo;
} */
p {
    font-family: KoHo;
    font-weight: 1000;
    font-size: 19px;
    padding: 4px;
}
h3 {
    font-family: Source Code Pro;
}
h2 {
    font-family: Source Code Pro;
    font-size: 46px;
    font-weight: 600;
}
/*=====  End of font comment block  ======*/

/*=============================================
=            button comment block            =
=============================================*/

/* button primary (blue to gold ) */
.btn-outline-primary {
    color: rgba(255, 255, 0, 0.719) !important;
    background-color: transparent !important;
    border: 2px solid rgba(255, 255, 0, 0.719) !important;
}
.btn-outline-primary:hover {
    transition: 0.5s;
    color: #000 !important;
    background-color: rgba(255, 255, 0, 0.719) !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button warning (yellow to green ) */
.btn-outline-warning {
    color: rgba(115, 255, 0, 0.555) !important;
    background-color: transparent !important;
    border: 2px solid rgba(115, 255, 0, 0.555) !important;
}
.btn-outline-warning:hover {
    transition: 0.5s;
    color: #fff !important;
    background-color: rgba(115, 255, 0, 0.555) !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button secondary (red to pink ) */
.btn-outline-secondary {
    color: #393e46 !important;
    background-color: transparent !important;
    border: 2px solid #393e46 !important;
}
.btn-outline-secondary:hover {
    transition: 0.5s;
    color: #fff !important;
    background-color: #393e46 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* button danger (red to pink ) */
.btn-outline-info {
    color: #fe7d6a !important;
    background-color: transparent !important;
    border: 2px solid #fe7d6a !important;
}
.btn-outline-info:hover {
    transition: 0.5s;
    color: #fff !important;
    background-color: #fe7d6a !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/*=====  End of button comment block  ======*/


/*=============================================
=            navbar comment block            =
=============================================*/

.navbar{
/*   z-index should be above .close-navbar-toggler */
    z-index:2;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.close-navbar-toggler{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    /* cursor:pointer; */
}
.close-navbar-toggler.collapsed{
    z-index:-1;
}

/* Navbar */

.bg-dark {
    background-color: #343a40  !important;
}

/* custom nav-link */
.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    color: #b7bcbd !important;
    /* padding-left: 1rem !important;
    padding-right: 1rem !important; */
}

/* navbar item active */
.navbar .nav-item.active {
    transition: 0.7s;
    border-left: #888 3px solid !important;
    margin-left: 1.5rem !important;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
/* navbar a active text color */
.navbar-nav > .active > a {
    color: #e8e8e8 !important; 
}

/* .navbar .nav-link.active {
    color: #e8e8e8 !important;
} */
/* navbar lik hover */
.nav-link:hover {
    cursor: pointer;
    color: #fff !important;
}


/*=====  End of navbar comment block  ======*/


/*=============================================
=            carousel comment block            =
=============================================*/

/* Owl Carousel */

/* setting width and height of carousel */
.owl-carousel {
    width: 100%;
    height: 92vh;
}

/* setting width and height of slide */
.slide {
    width: 100%;
    height: 92vh;
    position: relative;
}

/* dark overlay */
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.4);
}

/* setting background image */
.slide-1 {
    background: url(../img/slide1.jpg);
    /* to resize image to fit parent width and height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}
.slide-2 {
    background: url(../img/slide2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}
.slide-3 {
    background: url(../img/slide3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}
.slide-4 {
    background: url(../img/slide4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

/* slide content */
/* .slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 20%;
}

.slide-content h1 {
    font-family: "Anton", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-content button {
    font-family: "Roboto", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
} */

/* bottom dots */
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    /* to move it up */
    bottom: 1%;
}

/* dots height and width */
.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

/* nav dots customization */
.owl-dots button {
    border: none !important;
    outline: none !important;
}

/* nav arrow customization */
.owl-nav button {
    border: none !important;
    outline: none !important;
}

/* nav arrow customization */
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}

/* nav arrow position */
.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

/* carousel */
/* .carousel-item {
    max-height: 500px;
    min-height: 300px;
} */
/* .carousel-image-1 {
    background: url(../img/image1.jpg);
    background-size: cover;
}
.carousel-image-2 {
    background: url(../img/image2.jpg);
    background-size: cover;
}
.carousel-image-3 {
    background: url(../img/image3.jpg);
    background-size: cover;
} */

/* .carousel-inner img {
    height: 450px;
    background-size: cover;
} */


/* carousel buttons */


/* .carousel-item {
    height: 500px;
} */
/* .carousel-item {
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
} */

/*=====  End of carousel comment block  ======*/


/*=============================================
=            home icon section block            =
=============================================*/

#home-icon-section span {
    color: #3a5a7a;
}

/*=====  End of home icon section block  ======*/



/*=============================================
=            Section comment block            =
=============================================*/

#home-heading-section {
    position: relative;
    height: 250px;
    background: url(../img/lights.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            home video Section block            =
=============================================*/

#home-video-section {
    position: relative;
    height: 250px;
    background: url(../img/media.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    background-position: 0 -300px;
}

#home-video-section a {
    color: #fff;
}

/* #home-video-section .row {
    margin-right: 0 !important;
} */

/*=====  End of Section comment block  ======*/




/*=============================================
=            main-footer Section comment block            =
=============================================*/

#main-footer {
    font-family: Source Code Pro;
    background:#000;
    color:#fff;
}


/*=====  End of Section comment block  ======*/






/*=============================================
=            about page header Section comment block            =
=============================================*/

#about-page-header {
    height: 200px;
    background: url(../img/image1.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            about page about Section comment block            =
=============================================*/

#about-img {
    /* to move up use -0px */
    margin-top: -90px;
    border: 2px solid #fff;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            about page icon Section comment block            =
=============================================*/

.bg-danger {
    background-color: rgba(241, 106, 106, 0.959) !important;
}
/* .bg-dark {
    background-color: rgb(63, 61, 61) !important;
} */


/*=====  End of Section comment block  ======*/


/*=============================================
=            service page header Section comment block            =
=============================================*/

#service-page-header {
    height: 200px;
    background: url(../img/image2.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            service page faq Section comment block            =
=============================================*/

#service-page-faq-section .card {
    border-color: #444;
    background: #333;
}

#service-page-faq-section a {
    text-decoration: none;
    color: #fff
}




/*=====  End of Section comment block  ======*/


/*=============================================
=            blog page header Section comment block            =
=============================================*/

#blog-page-header {
    height: 200px;
    background: url(../img/image3.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid #eee;
}



/*=====  End of Section comment block  ======*/


/*=============================================
=            Section comment block            =
=============================================*/

#contact-page-header {
    height: 200px;
    background: url(../img/image4.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    border-bottom: 1px solid #eee;
}


/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/

@include media-breakpoint-up(sm) {
    
}


/*=====  End of Section comment block  ======*/

/*=============================================
=            Section comment block            =
=============================================*/




/*=====  End of Section comment block  ======*/