
<div id="about-page">

    <header id="page-header" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, deleniti.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- about section -->
    <section id="about" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>What We Do</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores beatae incidunt voluptatum qui quibusdam earum est illum aliquid dolore, sint facere fugiat, odio sequi at assumenda odit iusto saepe alias. Tempore, sit et delectus rerum maxime, sunt ullam porro labore vero nam necessitatibus rem ad ex tenetur! Facilis, necessitatibus ullam!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae ducimus minus quidem minima, in sint voluptate quas, aut ex vitae enim ad sequi aperiam eum porro eos accusamus. Aspernatur architecto, voluptatibus quia, perferendis dolorum quis ullam quisquam tempore itaque consequuntur cupiditate corrupti autem labore dolores veritatis praesentium minus commodi magnam?</p>
                </div>
                <div class="col-md-6">
                    <img id="about-img" src="https://source.unsplash.com/random/700x700/?technology" alt="" class="img-fluid rounded-circle d-none d-md-block">
                </div>
            </div>
        </div>
    </section>


    <!-- icon boxes -->
    <section id="about-page-icon-section" class="py-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fas fa-building fa-3x"></i>
                            <h3>Sample Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-center text-white">
                        <div class="card-body">
                            <i class="fas fa-bullhorn fa-3x"></i>
                            <h3>Sample Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fas fa-comments fa-3x"></i>
                            <h3>Sample Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iure.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card bg-dark text-center text-white">
                        <div class="card-body">
                            <i class="fas fa-box fa-3x"></i>
                            <h3>Sample Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-center text-white">
                        <div class="card-body">
                            <i class="fas fa-credit-card fa-3x"></i>
                            <h3>Sample Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-center text-white">
                        <div class="card-body">
                            <i class="fas fa-coffee fa-3x"></i>
                            <h3>Sample Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, iure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>











<style>
    
</style>