
<div id="blog-page">

    <!-- services page header -->
    <header id="blog-page-header" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center pt-5">
                    <h1>Read Our Blog</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, deleniti.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- blog section -->
    <section id="blog-page-blog-section" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Blog Post One</h4>
                            <small class="text-muted">Written by Jeff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic repudiandae eaque quam recusandae esse neque at odio natus perferendis vero!
                            </p>
                        </div>
                    </div>

                    <div class="card p-3 mt-2 bg-dark text-white">
                        <blockquote class="card-blockquote card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis impedit ducimus fugit explicabo, magni illo natus magnam aliquid inventore facere?
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Someone Famous in 
                                    <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/301x201" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Blog Post Two</h4>
                            <small class="text-muted">Written by Jeff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic repudiandae eaque quam recusandae esse neque at odio natus perferendis vero!
                            </p>
                        </div>
                    </div>

                    <div class="card p-3 mt-2 bg-dark text-white">
                        <blockquote class="card-blockquote card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis impedit ducimus fugit explicabo, magni illo natus magnam aliquid inventore facere?
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Someone Famous in 
                                    <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="img-fluid card-img-top" src="https://source.unsplash.com/random/302x202" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Blog Post Three</h4>
                            <small class="text-muted">Written by Jeff on 05/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic repudiandae eaque quam recusandae esse neque at odio natus perferendis vero!
                            </p>
                        </div>
                    </div>

                    <div class="card p-3 mt-2 bg-dark text-white">
                        <blockquote class="card-blockquote card-body">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis impedit ducimus fugit explicabo, magni illo natus magnam aliquid inventore facere?
                            </p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    Someone Famous in 
                                    <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>