
<div id="home-main">
    <!-- Showcase Slider -->
    <section id="showcase">
        

        <!-- Owl Carousel Section -->
        <section id="home-owl-carousel-section">
            <!-- owl carousel start -->
            <div class="owl-carousel owl-theme">

                <!-- owl carousel slide 1 -->
                <div class="slide slide-1">
                    <!-- owl carousel slide content-->
                    <div class="slide-content">

                        <!-- bootstrap container -->
                        <div class="container-fluid">
                            <!-- bootstrap carousel-caption for positioning -->
                            <div class="carousel-caption d-none d-md-block mb-5 text-start">
                                <h1 class="display-1">Heading One</h1>
                                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consectetur, magnam libero asperiores harum ipsum. Sed a corporis quam totam.</p>
                                <a href="#" class="btn btn-outline-primary btn-lg">Sign Up Now</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- slide 2 -->
                <div class="slide slide-2">
                    <div class="slide-content">

                        <div class="container-fluid">
                            <div class="carousel-caption d-none d-md-block mb-5">
                                <h1 class="display-1">Heading Two</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi modi porro illo explicabo qui error dolore laudantium officia tenetur culpa.</p>
                                <a href="#" class="btn btn-outline-warning btn-lg">Learn More</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- slide 3 -->
                <div class="slide slide-3">
                    <div class="slide-content">

                        <div class="container-fluid">
                            <div class="carousel-caption d-none d-md-block mb-5 text-end">
                                <h1 class="display-1">Heading Three</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi modi porro illo explicabo qui error dolore laudantium officia tenetur culpa.</p>
                                <a href="#" class="btn btn-outline-secondary btn-lg">Learn More</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- slide 4 -->
                <div class="slide slide-4">
                    <div class="slide-content">

                        <div class="container-fluid">
                            <div class="carousel-caption d-none d-md-block mb-5 text-end">
                                <h1 class="display-1">Heading Four</h1>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi modi porro illo explicabo qui error dolore laudantium officia tenetur culpa.</p>
                                <a href="#" class="btn btn-outline-info btn-lg">Learn More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Home Icon Section -->
        <section id="home-icon-section" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-3 px-5 text-center">
                        <span>
                            <i class="fas fa-cogs fa-3x mb-2"></i>
                        </span>
                        <h3>Turning Gears</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, debitis.</p>
                    </div>
                    <div class="col-md-4 my-3 px-5 text-center">
                        <span>
                            <i class="fas fa-cloud-upload-alt fa-3x mb-2"></i>
                        </span>
                        <h3>Sending Data</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, magnam.</p>
                    </div>
                    <div class="col-md-4 my-3 px-5 text-center">
                        <span>
                            <i class="fas fa-cart-plus fa-3x mb-2"></i>
                        </span>
                        <h3>Making Money</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, assumenda.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Home Heading Section -->
        <section id="home-heading-section" class="">
            <div class="dark-overlay py-5">
                <div class="container py-4 text-center">
                    <div class="row">
                        <div class="col">
                            <h2>Are You Ready To Get Started?</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa asperiores quia adipisci repellat placeat aspernatur sunt delectus eaque natus earum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Home Info section -->
        <section id="home-info-section" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <h3>Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eveniet blanditiis incidunt iusto corrupti illum cum laudantium ex sequi amet.</p>
                        <a href="" class="btn btn-outline-danger btn-lg">Learn More</a>
                    </div>
                    <div class="col-md-6">
                        <img src="img/laptop.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <!-- Home Video Section -->
        <section id="home-video-section">
            <div class="dark-overlay py-5">
                <div class="container text-center py-4">
                    <div class="row">
                        <div class="col">
                            <a class="video" data-bs-video="https://www.youtube.com/embed/CYDP_8UTAus" data-bs-toggle="modal" data-bs-target="#videoModal">
                                <i class="far fa-play-circle fa-5x"></i>
                            </a>
                            <h1>See What We Do</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video modal -->
        <div class="modal fade" id="videoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>See What We Do</h5>
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <iframe width="880" height="495" src="https://www.youtube.com/embed/CYDP_8UTAus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <iframe src="https://www.youtube.com/embed/CYDP_8UTAus" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- home photo gallery -->
        <section id="home-photo-gallery" class="py-5">
            <div class="container">
                <h1 class="text-center">Photo Gallery</h1>
                <p class="text-center">Check out our photos</p>
                    <div class="row mb-3 g-3">
                        <div class="col-md-4">
                            <!-- fancybox -->
                            <!-- in the a put a class named fancybox  -->
                            <!-- and put data-fancybox to one gallery or multiple if there is multiple gallery -->
                            <a href="https://source.unsplash.com/random/560x560" class="fancybox" data-fancybox="gallery1" data-height="560" data-width="560">
                                <img src="https://source.unsplash.com/random/560x560" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://source.unsplash.com/random/561x561" class="fancybox" data-fancybox="gallery1" data-height="560" data-width="560">
                                <img src="https://source.unsplash.com/random/561x561" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://source.unsplash.com/random/562x562" class="fancybox" data-fancybox="gallery1" data-height="560" data-width="560">
                                <img src="https://source.unsplash.com/random/562x562" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <a href="https://source.unsplash.com/random/563x563" class="fancybox" data-fancybox="gallery1" data-height="560" data-width="560">
                                <img src="https://source.unsplash.com/random/563x563" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://source.unsplash.com/random/564x564" class="fancybox" data-fancybox="gallery1" data-height="560" data-width="560">
                                <img src="https://source.unsplash.com/random/564x564" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://source.unsplash.com/random/565x565" class="fancybox" data-fancybox="gallery1" data-bs-height="565" data-bs-width="565">
                                <img src="https://source.unsplash.com/random/565x565" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
            </div>
        </section>



        <!-- Newsletter -->
        <section id="home-newsletter-section" class="py-5 bg-dark text-center text-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Sign Up For Our Newsletter</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores consectetur, quae ducimus voluptates vero repellendus architecto maiores recusandae mollitia?</p>
                        <form class="form-inline">
                            <div class="row justify-content-center g-2">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Enter Name">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="col-md-2 text-start d-grid">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>




    </section>
</div>


<script>
    // need to initialize owl carousel with this function first
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            //    items
            //    Type: Number
            //    Default: 3
            //    The number of items you want to see on the screen.
            items: 1,
            
            //    loop
            //    Type: Boolean
            //    Default: false
            //    Infinity loop. Duplicate last and first items to get loop illusion.
            loop:true,
            
            //    nav
            //    Type: Boolean
            //    Default: false
            //    Show next/prev buttons.
            nav:true,

            //    dots
            //    Type: Boolean
            //    Default: true
            //    Show dots navigation.
            dots:true,

            //    autoplay
            //    Type: Boolean
            //    Default: false
            //    Autoplay.
            autoplay:true,

            //    autoplaySpeed
            //    Type: Number/Boolean
            //    Default: false
            //    autoplay speed.
            autoplaySpeed:1500,

            //    smartSpeed
            //    Type: Number
            //    Default: 250
            //    Speed Calculate. More info to come..
            smartSpeed:1500,

            //    autoplayHoverPause
            //    Type: Boolean
            //    Default: false
            //    Pause on mouse hover.
            autoplayHoverPause:true
        })
    })


    //lightGallery(document.querySelector('.gallery'));
    
</script>