
<div id="service-page">

    <!-- services page header -->
    <header id="service-page-header" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>Our Services</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, deleniti.</p>
                </div>
            </div>
        </div>
    </header>
    
    <!-- service plan -->
    <section id="services-page-service-plan" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white p-3">
                            <h3>Service Plan One</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                $59.99/<span class="fs-6">month</span>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, fugiat?</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-top">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature One 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Two 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Three 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Four 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Five 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-bottom">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Six 
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-danger d-block mt-3">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 Year Plan
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white p-3">
                            <h3>Service Plan Two</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                $99.99/<span class="fs-6">month</span>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, fugiat?</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-top">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature One 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Two 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Three 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Four 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Five 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-bottom">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Six 
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-danger d-block mt-3">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 Year Plan
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white p-3">
                            <h3>Service Plan Three</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                $129.99/<span class="fs-6">month</span>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, fugiat?</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item border-top">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature One 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Two 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Three 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Four 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Five 
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-bottom">
                                    <div class="row">
                                        <div class="col-5 text-end">
                                            <i class="fas fa-check text-success"></i>
                                        </div>
                                        <div class="col-7 text-start">
                                            Feature Six 
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-danger d-block mt-3">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 Year Plan
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- faq -->
    <section id="service-page-faq-section" class="py-5 bg-dark text-white">
        <div class="container">
            <h1 class="text-center">
                Frequently Asked Questions
            </h1>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div id="accordian">
                        <div class="card">
                            <div class="card-header">
                                <a href="#collapseOne" data-bs-toggle="collapse" data-bs-parent="#accordian">
                                    <h5>
                                        Question One
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat eius ipsum provident dolorum voluptas unde modi tenetur autem quisquam eos velit, laudantium dignissimos at maxime eveniet labore quis commodi. Cum quia cupiditate aspernatur fuga iusto unde voluptates quas repudiandae.
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header">
                                <a href="#collapseTwo" data-bs-toggle="collapse" data-bs-parent="#accordian">
                                    <h5>
                                        Question Two
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseTwo" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat eius ipsum provident dolorum voluptas unde modi tenetur autem quisquam eos velit, laudantium dignissimos at maxime eveniet labore quis commodi. Cum quia cupiditate aspernatur fuga iusto unde voluptates quas repudiandae.
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header">
                                <a href="#collapseThree" data-bs-toggle="collapse" data-bs-parent="#accordian">
                                    <h5>
                                        Question Three
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseThree" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat eius ipsum provident dolorum voluptas unde modi tenetur autem quisquam eos velit, laudantium dignissimos at maxime eveniet labore quis commodi. Cum quia cupiditate aspernatur fuga iusto unde voluptates quas repudiandae.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="accordian">
                        <div class="card">
                            <div class="card-header">
                                <a href="#collapseFour" data-bs-toggle="collapse" data-bs-parent="#accordian">
                                    <h5>
                                        Question Four
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseFour" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat eius ipsum provident dolorum voluptas unde modi tenetur autem quisquam eos velit, laudantium dignissimos at maxime eveniet labore quis commodi. Cum quia cupiditate aspernatur fuga iusto unde voluptates quas repudiandae.
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header">
                                <a href="#collapseFive" data-bs-toggle="collapse" data-bs-parent="#accordian">
                                    <h5>
                                        Question Five
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseFive" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat eius ipsum provident dolorum voluptas unde modi tenetur autem quisquam eos velit, laudantium dignissimos at maxime eveniet labore quis commodi. Cum quia cupiditate aspernatur fuga iusto unde voluptates quas repudiandae.
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-header">
                                <a href="#collapseSix" data-bs-toggle="collapse" data-bs-parent="#accordian">
                                    <h5>
                                        Question Six
                                    </h5>
                                </a>
                            </div>

                            <div id="collapseSix" class="collapse">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat eius ipsum provident dolorum voluptas unde modi tenetur autem quisquam eos velit, laudantium dignissimos at maxime eveniet labore quis commodi. Cum quia cupiditate aspernatur fuga iusto unde voluptates quas repudiandae.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>